* {
  box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Poppins);
body {
  /*background-image: url(/InShot_20241028_174428854.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  background-color: #000;
  color: white;
  margin: 0;
  margin-top: 50px;
  font-family: Poppins;
}
@font-face {
  font-family: ClashD;
  src: url(ClashDisplay-Medium.ttf);
  format: ('truetype');
}
@font-face {
  font-family: ClashDisplay-light;
  src: url(ClashDisplay-Light.ttf);
  format: ('truetype');
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  padding: 10px 5px;
  background-color: #010A2CCF;
  backdrop-filter: blur(5px);
}
.logo {
  margin: 0;
}
.hamburger-menu {
  margin-right: 5px;
}
div[class*="bar"] {
  background-color: white;
  width: 50px;
  height: 5px;
  border-radius: 5px;
  margin: 2px;
}
nav ul {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 200px;
  border-radius: 0 10px 10px 0;
  background-color: #03051C;
  box-shadow: -3px 0 5px hsl(250, 100%, 50%) inset;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  animation: hamdis 0.5s linear 1;
}
@keyframes hamdis {
  from {left: -200px;}
  to {left: 0;}
}
nav ul li {
  border-left: 1.5px solid white;
  margin: 3px;
}
nav ul li a {
  padding: 20px 5px;
  margin-block: 5px;
  display: block;
  color: white;
  font-weight: bold;
  font-family: ClashDisplay-light;
  text-decoration: none;
  
}
nav ul li a:hover {
  border-bottom: 1.5px solid white;
}
.intro-head {
  font-family: ClashD;
  position: relative;
  text-shadow: 0 1px black, 1px 0 black, 0 -1px black, -1px 0 black;
  padding: 5px;
}
.intro-head span {
  text-shadow: 0 1px #eee, 1px 0 #eee, 0 -1px #eee, -1px 0 #eee;
}
.intro-bg {
  position: relative;
  opacity: 0.7;
  width: 100%;
}
.intro-content {
  position: absolute;
  top: 15px;
  font-size: 1.1em;
  font-family: ClashD;
  animation: slideup 2s linear 1;
}
@keyframes slideup {
  from {top: 70px;}
  to {top: 15px;}
}
.intro-content h4, h1 {
  margin: 1px;
}
.button {
  width: 90%;
  border-radius: 15px;
  height: 2em;
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: ClashD;
  cursor: pointer;
  display: block;
  margin-inline: auto;
  margin-bottom: 30px;
  border: none;
}
button a {
  text-decoration: none; color: #fff;
  
}
.about, .service{
  border-left: 2px solid white;
  border-radius: 5px;
  background-color: #eee3;
  box-shadow: 0 0 5px grey;
  backdrop-filter: blur(5px);
  font-size: 1.1em;
  padding: 10px;
  margin: 10px 5px;
  width: 90vw;
  margin: 10px auto;
}
p {
  font-family: 'Poppins';
}
.about {
  position: relative;
  animation: move1 ease 0s 1;
  animation-time-line: view;
  animation-range: entry 0;
}
@keyframes move1 {
  from {opacity: 0.5; left: -100px;}
  to {opacity: 1; left: 5px;}
}
.about h3, .service h4, .course h3{
  font-family: ClashD;
}
.Courses {
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  margin: 10px;
  background-image: linear-gradient(to bottom right, #00f5, #00d5, #00b5);
  width: 90vw;
  margin: 10px auto;
}
.Courses h3 {
  display: flex;
  flex-direction: column;
}

.donate {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px double white;
  position: fixed;
  bottom: 3px;
  right: 3px;
  animation: donate 1s ease-in-out infinite;
}
@keyframes donate {
  from {transform: scale(0.5);}
  to {scale: (1);}
}
footer {
  background-color: #050C55;
  width: 100%;
  margin: 0;
}
footer ul {
  list-style: none;
}
.social-link {
  display: flex;
  justify-content: space-evenly;
}
footer ul li a {
  text-decoration: none;
  color: white;
  font-family: Regular;
}